{{ define "main" }}
  <article>
    <h1 class="pageTitle">{{ .Title }}</h1>

    <ul class="postList">
      {{ $year := 0 }}
      {{ range .Site.RegularPages.ByDate.Reverse }}
        {{ $y := .Date.Year }}
        {{ if ne $y $year }}
          {{ if ne $year 0 }}</ul>{{ end }}
          <h2>{{ .Date.Format "2006" }}</h2>
          <ul class="postList">
          {{ $year = $y }}
        {{ end }}
        <li><span class="postMeta">{{ .Date.Format "Jan 2, 2006" }}:</span> <a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </article>
{{ end }}
